
<div class="container">
  <form [formGroup]='form' (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="state">state</label>
      <select formControlName="state" class="form-control">

        <option *ngFor="let i of stateClient" [value]="i">{{ i }}</option>

      </select>
    </div>

    <div class="form-group">
      <label for="tva">tva</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>

    <div class="form-group">
      <label for="id">id</label>
      <input formControlName="id" type="number" class="form-control" id="id">
    </div>


    <div class="form-group">
      <label for="name">name</label>
      <input formControlName="name" type="text" class="form-control" id="client">
    </div>

    <div class="form-group">
      <label for="comment">comment</label>
      <textarea formControlName="comment" class="form-control" id="comment"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


